*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
    width: 100vw;
    border: 5px solid black;
    background-color: bisque;
    padding: 5rem;
}
.box{
    height: 20%;
    width: 20%;
    background-color: cornflowerblue;
    border: 2px solid black;
    /* position: relative; */
    animation-name: changeColor;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes changeColor{
    from{
        background-color: cornflowerblue;
    }
    to{
        background-color: purple;
        /* left: 50%; */
        /* transform: scale(1.2);
        transform: skew(15deg);
        transform: rotate(90deg);
        transform: translate(200px, 200px); */
        /* transform: scale(1.2) skew(15deg) rotate(180deg) translate(200px, 200px); */
    }
}